<ion-header>
  <ion-navbar>
    <ion-title text-wrap>Groups for </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
<button ion-item text-wrap *ngFor="let group of listOfGroups">
      <h2>Name: {{group.name}}</h2>
      <p>Members: {{group.count}}</p>
      <p>Active: {{group.activeString}}</p>
    </button>
    <!-- <button ion-item text-wrap *ngFor="let group of groups | async" (click)="showGroup(group)">

      <h1>{{group.$key}}</h1> -->
<!--       <h2>Name: {{group.Name}}</h2>
      <p>Members: {{groups.length}}</p> -->
    <!-- button -->
  </ion-list>
</ion-content>
